body {
	background-color: #eeeeee;
	color: #696969;
}

#main {
	padding: 30px;
	background-color: #ffffff;
	border-radius: 0 0 4px 4px;
	font-family: 'Open Sans', sans-serif;
	text-align: center;
}

h1 {
	border-bottom: 3px solid;
}

.center {
	margin-left: auto;
    margin-right: auto;
	width: 500px;
}
